{% extends '@SymfonyAdmin/base.html.twig' %}

{% block javascripts %}
  {% set jsConfig = {
    userId: app.user.id,
    userName: app.user|trim
  }|merge(jsConfig|default({})) %}

  {{ parent() }}
{% endblock %}

{% block layout %}
  <div class="application-content {% if 'true' == app.request.cookies.get('sidebar_collapsed', 'true') %}sidebar-collapsed{% endif %}">
    {% include '@SymfonyAdmin/layout/backend/sidebar.html.twig' %}

    <div class="content-wrapper">
      <div class="content-overlay"></div>

      {% include '@SymfonyAdmin/layout/backend/header.html.twig' %}
      {% include '@SymfonyAdmin/layout/backend/navigation.html.twig' %}

      <div class="body-content">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>

  <div class="toasters"></div>
{% endblock %}
