{% extends '@SymfonyAdmin/base.html.twig' %}

{% block layout %}
  <div class="authentication-wrapper">
    <div class="authentication-left">
      <img src="{{ asset('images/logo.svg') }}" class="logo" />
    </div>

    <div class="authentication-right">
      <div class="authentication-body">
        {% block alert %}
          <div class="alert-container">
            {%- if errors|default(false) -%}
              {%- for error in errors -%}
                <div class="alert">
                  {{ error|trans|raw }}
                </div>
              {%- endfor -%}
            {%- endif -%}
            {%- for type, messages in app.flashes -%}
              {%- for message in messages -%}
                <div class="alert">
                  {{ message|trans|raw }}
                </div>
              {%- endfor -%}
            {%- endfor -%}
          </div>
        {% endblock %}

        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
