{% extends '@SymfonyAdmin/layout/backend/layout.html.twig' %}

{% block title 'Oops' %}

{% set header_title = object|title ~ 's' %}

{% block body %}
  <div class="error-takeover">
    <div class="error-page-container">
      <div class="error-message">
        <h1 class="error-message-title">
          Oops, that page doesn't exist.
        </h1>

        <div class="error-message-body">
          Sorry about that. Here's a couple things you can try.
        </div>

        <a href="{{ path('admin_homepage') }}" class="btn btn-primary">Go to the Dashboard</a>
      </div>
    </div>
  </div>
{% endblock %}
